*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.api-project h1{
    text-align: center;
    padding: 22px;
    font-size: 40px;
    text-transform: capitalize;
    color: whitesmoke;
    

}
.background{
    background-color: #0a3d62;
   
}
.serchoption{

    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background: 100vh;
    
}
.serchoption input{
   padding: 12px 32px;
   width: 20%;
   border-color: darkslategray;
   
}
.serchoption button{
    margin-left: 20px;
}