*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
    text-align: center;
    padding: 22px;
    font-size: 70px;
    text-transform: capitalize;
    

}
.serchoption{

    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
.serchoption input{
   padding: 12px 32px;
   width: 20%;
   border-color: darkslategray;
}
.serchoption button{
    margin-left: 20px;
}